services:
  trg-bot:
    image: ghcr.io/ahmed93/trg-vmb:latest
    container_name: trg_bot
    restart: always
    environment:
      - DB_PATH=/data/trg.db
      - DISCORD_TOKEN=your_token_here
    volumes:
      - bot_data:/data

volumes:
  bot_data:
